<a href="https://colab.research.google.com/github/KARENCMP82/Modulo2/blob/main/DSC1124ESP_241127_Clase_1_Repaso_Inicial_TEORIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# CLASE 1: Repaso Inicial - Lenguaje de programación Python
Fecha: 27/11/2024

## Programando en Python

### Tipos de Datos - Visión general

Los tipos de datos son la manera de clasificar y organizar diferentes tipos de valores que pueden ser manipulados en una lenguaje de programación, como Python. Basicamente, cada valor en Python tiene un tipo de datos asociado, que determina qué puedes hacer con ese valor y cómo se almacenará en la memoria del ordenador.

| Tipo de Dato        | Descripción                                                                     |
|---------------------|---------------------------------------------------------------------------------|
| None                | Representa la ausencia de valor o un valor nulo.                                 |
| NotImplemented     | Utilizado para indicar que una operación no está implementada o no está definida para los operandos proporcionados. |
| Elipsis             | Representa un valor especial utilizado principalmente en fatias (slices) de arrays multidimensionales para indicar "todos los elementos" en una dimensión. También puede ser usado como marcador de espacio reservado en funciones o métodos. |
| **Numericos**           | Tipos numéricos en Python.                                                      |
|    - **Numericos Enteros**  | Tipos numéricos enteros.                                                      |
|       * **Enteros (int)**   | Representa números enteros sin punto decimal.                                  |
|       * **Booleanos (bool)** | Representa los valores de verdad, es decir, Verdadero (True) o Falso (False). |
|    - **Numericos Reales**   | Tipos numéricos reales.                                                       |
|       * **Reales (float)**   | Representa números de punto flotante.                                          |
|    - Numericos Complejos| Tipos numéricos complejos.                                                     |
|       * Complejos (complex)| Representa números complejos con una parte real e imaginaria.                |
| **Secuencias**          | Tipos de datos secuenciales en Python.                                           |
|    - **Inmutables**         | Secuencias inmutables cuyos elementos no pueden ser modificados una vez creados. |
|       * **Cadenas de caracteres (string)**| Representa secuencias de caracteres.                                     |
|       * **Tuplas (tuple)**  | Representa secuencias ordenadas e inmutables de elementos.                        |
|       * Bytes           | Representa secuencias de bytes inmutables.                                       |
|    - **Mutables**           | Secuencias mutables cuyos elementos pueden ser modificados después de su creación. |
|       * **Listas (list)**   | Representa secuencias ordenadas y mutables de elementos.                          |
|       * Colecciones de bytes (bytearray()) | Representa secuencias de bytes mutables.                            |
| **Conjuntos**           | Tipos de datos para representar conjuntos de elementos únicos.                    |
|    * **Conjuntos (sets)**    | Representa conjuntos mutables de elementos únicos.                                |
|    * Conjuntos congelados (frozenset)| Representa conjuntos inmutables de elementos únicos.                         |
| **Mapeos**              | Tipos de datos para representar mapeos de claves a valores.                        |
|    * **Diccionarios (dict)** | Representa mapeos mutables de claves a valores.                                   |
| Tipos invocables    | Tipos de datos que pueden ser llamados como funciones.                             |
|    * Funciones           | Representa funciones definidas por el usuario o funciones integradas.              |
|    * Clases              | Representa clases que pueden ser llamadas para crear instancias de objetos.       |
[...]

(Fuente: https://docs.python.org/es/3/reference/datamodel.html#objects-values-and-types)

En nuestro contexto, enfocaremos:

| Tipo de Dato   | Descripción                                                 | Ejemplo                     |
|----------------|-------------------------------------------------------------|-----------------------------|
| Primitivos     |                                                             |                             |
| `int`          | Números enteros                                             | `x = 5`                     |
| `float`        | Números de punto flotante                                   | `y = 3.14`                  |
| `bool`         | Valores booleanos (True o False)                            | `z = True`                  |
| `string(str)`          | Cadenas de texto                                            | `cadena = "Hola"`           |
| Estructurados |                                                             |                             |
| `list`         | Secuencia mutable de elementos                              | `lista = [1, 2, 3]`         |
| `tuple`        | Secuencia inmutable de elementos                            | `tupla = (1, 2, 3)`         |
| `set`          | Colección no ordenada y sin elementos duplicados           | `conjunto = {1, 2, 3}`      |
| `dict`         | Colección de pares clave-valor                              | `diccionario = {'a': 1}`    |

## Variables en Python

### Creación de variables

Las variables son espacios de memoria dedicados para almacenar algún contenido/valor.

Python es un lenguaje de tipado dinámico. Esto significa que sus variables se crean en el momento en que les asignamos un valor y su tipo se define según su contenido, independientemente de la predefinición, lo que también permite su posterior reutilización (reciclaje).

In [ ]:
#Variable Int
a=1

#Variable Float
b=2.2

#Variable String
c="Hola mundo!"

print(a)
print(b)
print(c)

1
2.2
Hola mundo!

In [ ]:
#Reutilización de variables
a=1.2662
print(a)

a="Estoy aqui"
print(a)

a=3
print(a)

1.2662
Estoy aqui
3

In [ ]:
#Asignación Múltiple
x,y,z=1,2.2,"Hola Mundo!"

print(x)
print(y)
print(z)

1
2.2
Hola Mundo!
10
15
5


Importante: Una variable puede requerir más o menos espacio en la memoria dependiendo del tipo de datos que representa.

In [ ]:
a=1
b=2.2
c="3"

In [ ]:
import sys

print(f"Variable A, valor: {a}, Tipo: {type(a)}, tamaño de memoria: {sys.getsizeof(a)} bytes", end="\n")
print(f"Variable B, valor: {b}, Tipo: {type(b)}, tamaño de memoria: {sys.getsizeof(b)} bytes", end="\n")
print(f"Variable C, valor: {c}, Tipo: {type(c)}, tamaño de memoria: {sys.getsizeof(c)} bytes", end="\n")

Variable A, valor: 1, Tipo: <class 'int'>, tamaño de memoria: 28 bytes
Variable B, valor: 2.2, Tipo: <class 'float'>, tamaño de memoria: 24 bytes
Variable C, valor: 3, Tipo: <class 'str'>, tamaño de memoria: 50 bytes

### Reglas de nombres de variables

Reglas para definir variables en Python:
- el nombre de una variable debe **empezar por una letra o el símbolo _**
- el nombre de una variable **NO puede empezar por un número**
- el nombre de una variable **sólo puede contener carácteres alfanuméricos y guiones bajos(A-z, 0-9, and _ )**

In [ ]:
# Nombres de variables permitidos
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Nombre de variables no permitidos
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (<ipython-input-144-fa05edb95615>, line 2)

Además, existe un **conjunto de palabras que no podemos utilizar** para nombrar variables ni funciones, ya que Python las reserva para uso interno.
Python dispone de un recurso para acceder a estas palabras directamente a través del código:

In [ ]:
import keyword
print(keyword.kwlist)

# ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue','def', 'del', 'elif', 'else', 'except', 'finally',
# 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**¡Cuidado!** Python es un lenguaje **"case sensitive"**, lo que significa que distingue entre letras minúsculas y mayúsculas en sus variables.

In [ ]:
variable = 0
Variable = "No soy zero"

print(variable)
print(Variable)

0
No soy zero

La Python Software Foundation mantiene un manual con convenciones de estilo de código llamado "PEP 8 - Guía de Estilo para Código Python" (https://peps.python.org/pep-0008/#naming-conventions). Algunas buenas prácticas:

In [ ]:
#Variable con nombre descriptivo y significativo
numero_de_alumnos = 10
total_ventas = 10000

#Variable en minúsculas y usando snake_case
lista_de_nombres = ["Alice", "Bob", "Charlie"]

#Nombre semántico para tipo de dato compuesto
diccionario_de_configuraciones = {"modo": "debug", "nivel_de_log": "info"}

#Evitando nombres de una sola letra
indice = 0 # Preferible a "i", "x"

#Mayúsculas para constantes
NOMBRE_ARCHIVO = "texto.txt"

### Mutabilidad

In [ ]:
x = 10
print(x)

y = x

x = 15

print(y)
print(x)

10
10
15

In [ ]:
str_1 = "hello"
print(str_1)

str_2 = str_1

str_1 = "Hola"

print(str_1)
print(str_2)

hello
Hola
hello

In [ ]:
print(f"Dirección de memoria: {id(x)}")
print(f"Dirección de memoria: {id(y)}")

Dirección de memoria: 138053037736624
Dirección de memoria: 138053037736464

In [ ]:
print(f"Dirección de memoria: {id(str_1)}")
print(f"Dirección de memoria: {id(str_2)}")

Dirección de memoria: 138052397966768
Dirección de memoria: 138052745746800

- **Variables inmutables**: son aquellas cuyo valor no puede ser alterado después de la asignación inicial. Cuando intentas modificar el valor de una variable inmutable, lo que realmente sucede es que se crea una nueva instancia del valor. **Ejemplos**: números enteros, números de punto flotante, cadenas y tuplas.

In [ ]:
lista1 = [1, 2, 3]


lista2 = lista1

lista2.append(4)

print(lista1)
print(lista2)

[1, 2, 3, 4]
[1, 2, 3, 4]
Dirección de memoria: 133529575289088
Dirección de memoria: 133529575289088

In [ ]:
print(f"Dirección de memoria: {id(lista1)}")
print(f"Dirección de memoria: {id(lista2)}")

- **Variáveis Mutables:** son aquellas cuyo valor puede ser alterado después de la asignación inicial. Puedes modificar directamente el contenido de una variable mutable sin crear una nueva instancia del valor. **Ejemplos**: listas, diccionarios y conjuntos.

Es relevante identificar si una variable es mutable o inmutable por varias razones:

- Comportamiento de Asignación: Con variables mutables, la modificación de una variable puede afectar a otras variables que hacen referencia al mismo objeto en la memoria. Esto puede provocar efectos secundarios inesperados y difíciles de depurar si no se está consciente de este comportamiento. Por otro lado, con variables inmutables, puedes tener más confianza en que la variable mantendrá su valor original sin cambios no deseados.

- Eficiencia de Memoria: El uso de variables mutables puede ser más eficiente en términos de memoria, ya que puedes modificar el contenido de la variable sin necesidad de crear una nueva instancia del objeto. Por el contrario, con variables inmutables, siempre se necesita crear una nueva instancia del objeto cada vez que se desea modificar su valor.

In [ ]:
#Mapeo de cadenas con mismo valor en Python:

d = "hello"
e = "world"
f = "hello"

print(f"Dirección de memoria: {id(d)}")
print(f"Dirección de memoria: {id(e)}")
print(f"Dirección de memoria: {id(f)}")

Dirección de memoria: 133530430503344
Dirección de memoria: 133529574507632
Dirección de memoria: 133530430503344

## Operadores

Los operadores en Python son símbolos especiales que se utilizan para realizar operaciones en valores y variables. Se dividen en los siguientes grupos:

- Operadores aritméticos
- Operadores de asignación
- Operadores de comparación
- Operadores lógicos
- Operadores de pertenencia
- Operadores de identidad
- Operadores bitwise

### Operadores Aritméticos

Se utilizan para realizar operaciones matemáticas en valores numéricos.

| Operador | Nombre | Ejemplo |
|:--- |:--- | :--- |
|+ |Suma|x + y|
|- |Resta|x - y|
|* |Multiplicación|x * y|
|/ |División|x / y|
|% |Módulo|x % y|
|** |Exponenciación|x ** y|
|// | Division entera|x // y|

In [ ]:
# Definición de números enteros
x = 42
y = 10

suma: 52
resta: 32
producto: 420
división: 4.2
división entera: 4
resto: 2
exponenciación: 1764

In [ ]:
#

### Operadores de Asignación

Los operadores de asignación se usan para asignar valores a variables

| Operador | Nombre | Análogo |
|:--- |:--- | :--- |
| = |x = 5|x = 5|
|+=	|x += 3|x = x + 3|
|-=	|x -= 3|x = x - 3|
|*=	|x *= 3|x = x * 3|
|/=	|x /= 3|x = x / 3|
|%=	|x %= 3|x = x % 3|
|//=|x //= 3	|x = x // 3|
|**=|x **= 3	|x = x ** 3|

### Operadores de comparación

Se utilizan para comparar valores y devolver un resultado booleano (verdadero o falso).

|   Operador      |   Descripción   |   Ejemplo   |
|:--- |:--- | :--- |
|==|Igual|x == y|
|!=|No igual|x != y|
|>|Mayor que|x > y|
|<|Menor que |x < y|
|>=|Mayor o igual que|x >= y|
|<=|Menor o igual que|x <= y|

### Operadores Lógicos

Se utilizan para combinar expresiones condicionales y devolver un resultado booleano.

| Operador | Descripción | Ejemplo |
|--- |:--- | --- |
|and |Devuelve True si las dos instancias son ciertas|x < 5 and  x < 10|
|or|Devuelve True si una de las dos instancias son ciertas e|x < 5 or x < 4|
|not|Invierte el resultado, devuelve False si el resultado no es cierto|not(x < 5 and x < 10)  |

### Operadores de pertenencia/membresía
Se utilizan en conjunción con estructuras de datos para verificar si un valor está presente o no.

| Operador | Descripción | Ejemplo |
|--- |:--- | --- |
|in |Devuelve True si la secuencia con el valor especificado aparece en el objeto|x in y|
|not in	|Devuelve True si la secuencia con el valor especifica no aparece en el objeto|x not in y|

In [ ]:
palabra = "Chocolate"

print("c" in palabra)
print("d" not in palabra)

True
True

### Precedencia entre operadores

La precedencia entre operadores en Python determina el orden en el que las operaciones se llevan a cabo cuando hay varias operaciones en una expresión. En otras palabras, establece qué operaciones se realizan primero y cuáles se realizan después. Es importante comprender la precedencia de operadores para escribir código claro y evitar resultados inesperados.

Aquí hay una lista de precedencia de operadores en Python, de mayor a menor precedencia (https://docs.python.org/es/3/reference/expressions.html#operator-summary):

- **Paréntesis ()**: Los paréntesis tienen la mayor precedencia y se utilizan para agrupar partes de una expresión. Las operaciones dentro de los paréntesis se realizan primero.

- **Operadores de potencia** **;

- **Multiplicación *, División /, División entera //, Módulo %**;

- **Suma +, Resta -**

In [ ]:
#Operadores con la misma precedencia en una expresión se evalúan de izquierda a derecha.
operacion = 5 + 2 * 3
print(operacion)

11

In [ ]:
#Es posible cambiar el orden de evaluación utilizando paréntesis.

operacion = (5 + 2) * 3
print(operacion)

21

## Tipos de datos primitivos

### **int** (integer - entero )
Se utiliza para representar números enteros, es decir, números sin parte fraccionaria. Estos números pueden ser positivos, negativos o cero.

No tienen límite superior o inferior en su tamaño, siempre y cuando la memoria de la computadora lo permita.

In [ ]:
# Definición de números enteros
x = 42
y = 10

42
42

In [ ]:
# Operaciones aritméticas
suma = x + y
resta = x - y
producto = x * y
division = x / y
division_entera = x // y
resto = x % y
exponenciacion = x ** 2


print(f"suma: {suma}")
print(f"resta: {resta}")
print(f"producto: {producto}")
print(f"división: {division}")
print(f"división entera: {division_entera}")
print(f"resto: {resto}")
print(f"exponenciación: {exponenciacion}")

In [ ]:
# Conversión
numero_string = "42"
numero_entero = int(numero_string)

print(numero_string)
print(numero_entero)

In [ ]:
#División de enteros, con resultado entero, no es entero ?

### **float** (floating point - punto flotante)
Se utiliza para representar números de punto flotante, es decir, números con parte fraccionaria. Estos números pueden ser positivos, negativos o cero.

Los números de punto flotante en Python tienen tamaño fijo (estándar IEEE 754) y tienen una precisión limitada, lo que puede llevar a errores de redondeo en cálculos muy precisos o con números extremadamente grandes o pequeños.

También pueden representarse en notación científica.

In [ ]:
# Definición de números de punto flotante
pi = 3.14159
altura = 1.85

4.99159 5.8119415 1.6981567567567566
3.14
3.14

In [ ]:
# Operaciones aritméticas
suma = pi + altura
producto = pi * altura
division = pi / altura

print(suma)
print(producto)
print(division)

In [ ]:
# Conversión
numero_string = "3.14"
numero_flotante = float(numero_string)

In [ ]:
print(suma, producto, division)
print(numero_string)
print(numero_flotante)

### **bool** (boolean)
 Representa un valor lógico que puede ser verdadero (True) o falso (False). Este tipo de dato es fundamental en programación, especialmente en lógica condicional y operaciones de control de flujo.

In [ ]:
# Definir variables booleanas
verdadero = True
falso = False

In [ ]:
# Operaciones lógicas
resultado_and = verdadero and falso
resultado_or = verdadero or falso
resultado_not = not verdadero

print(resultado_and)
print(resultado_or)
print(resultado_not)

In [ ]:
# Comparación
comparacion = 5 > 3

print(comparacion)

In [ ]:
# Conversión
valor_convertido = bool(43)
print(valor_convertido)

True

In [ ]:
# Uso en estructuras de control
if verdadero:
    print("Este mensaje será impreso.")

if not falso:
    print("Este mensaje también será impreso.")

Este mensaje será impreso.
Este mensaje también será impreso.

### **string** ("str" - cadena de caracteres)

Es una secuencia de caracteres que se utiliza para representar texto.  Cada caracter tiene asignado un índice numérico, começando em 0.

Los índices son números enteros que indican la posición de un carácter dentro de la cadena. Permitem acceder y manipular a las cadenas de la misma forma que se puede hacer con otro tipo de datos secuenciales.

Permite también utilizar índices negativos para contar desde el final de la cadena hacia el principio.

| M | o | n | u | m | e | n | t | a | l | ! |
|---|---|---|---|---|---|---|---|---|---|---|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |10 |
|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1 |

#### Aceso a cadenas de caracteres

##### Índices: [índice]

In [ ]:
cadena="Monumental!"
print(cadena[2])
print(cadena[-1])
print(cadena[-11])

n
!
M

##### Slicing: cadena[inicio:fin]
- índice de inicio es inclusivo y de fin es exclusivo

In [2]:
# Comienzar desde el índice 0 y va hasta el índice 2 (exclusivo)
cadena1="Maracas"
print(cadena1[0:2])

Ma

In [4]:
# Comienzar desde el índice 2 y va hasta el final de la cadena
cadena1="Maracas"
print(cadena1[2:])

racas

In [5]:
# Comienzar desde el inicio de la cadena y va hasta el índice -2

cadena1="Maracas"
print(cadena1[0:-2])

Marac

In [ ]:
# Comienzar desde el índice -2 y va hasta el final de la cadena


cadena1="Maracas"
print(cadena1[-2:])

In [ ]:
# Extraer toda la cadena


cadena1="Maracas"
print(cadena1)

In [7]:
# Invierter la cadena
cadena1="Maracas"
print(cadena1[::-1])

sacaraM

##### Slicing 2: cadena[inicio:fin:paso]

In [9]:
#  Extraer caracteres comenzando desde el índice 0 hasta el índice 10, saltando un carácter en cada paso (paso 2).
cadena2 = "Maracas1569"
print(cadena2[0:10:2])

Mrcs5

cadena2[0:10:2]:

0: Inicio en el índice 0.

10: Va hasta el índice 10 (exclusivo).

2: Salta un carácter en cada paso.

Resultado: "Mras5".

In [11]:
# Utilizar el slicing para imprimir la cadena completa
cadena2 = "Maracas1569"
print(cadena2[::])

Maracas1569

In [16]:
# Imprimir los últimos cuatro caracteres de la cadena
cadena2 = "Maracas1569"
print(cadena2[7:11])
print(cadena2[-4:])

1569
1569

In [ ]:
#  Imprimir una subcadena con índices negativos

cadena2 = "Maracas1569"
print(cadena2[-7:-3])  # Resultado: "cas1"

na2[-7:-3]:
-7: Comienza desde el séptimo carácter desde el final (en este caso, la letra "c").

-3: Termina en el tercer carácter desde el final (antes de "6").

#### Métodos aplicables a Strings

| Método                  | Descripción                                                        | Ejemplo de Implementación                                  |
|-------------------------|--------------------------------------------------------------------|------------------------------------------------------------|
| `capitalize()`          | Convierte el primer carácter de la cadena a mayúscula             | `'hola mundo'.capitalize()` -> `'Hola mundo'`              |
| `casefold()`            | Convierte la cadena a minúsculas, adecuado para comparaciones     | `'Hola Mundo'.casefold()` -> `'hola mundo'`               |
| `center(width)`         | Centra la cadena dentro de una cadena de ancho especificado       | `'hola'.center(10)` -> `'   hola   '`                     |
| `count(substring)`      | Cuenta el número de ocurrencias de una subcadena en la cadena     | `'hola hola hola'.count('hola')` -> `3`                    |
| `endswith(suffix)`      | Comprueba si la cadena termina con el sufijo especificado         | `'hola mundo'.endswith('mundo')` -> `True`                 |
| `find(substring)`       | Encuentra la primera ocurrencia de una subcadena en la cadena     | `'hola mundo'.find('mundo')` -> `5`                        |
| `index(substring)`      | Encuentra la primera ocurrencia de una subcadena en la cadena     | `'hola mundo'.index('mundo')` -> `5`                       |
| `isalnum()`             | Comprueba si todos los caracteres de la cadena son alfanuméricos  | `'Hola123'.isalnum()` -> `True`                            |
| `isalpha()`             | Comprueba si todos los caracteres de la cadena son letras         | `'Hola'.isalpha()` -> `True`                               |
| `isdigit()`             | Comprueba si todos los caracteres de la cadena son dígitos        | `'123'.isdigit()` -> `True`                                |
| `islower()`             | Comprueba si todos los caracteres de la cadena están en minúsculas| `'hola mundo'.islower()` -> `True`                         |
| `isspace()`             | Comprueba si todos los caracteres de la cadena son espacios      | `' '.isspace()` -> `True`                                 |
| `istitle()`             | Comprueba si la cadena sigue el formato de título                 | `'Hola Mundo'.istitle()` -> `True`                         |
| `isupper()`             | Comprueba si todos los caracteres de la cadena están en mayúsculas| `'HOLA MUNDO'.isupper()` -> `True`                         |
| `join(iterable)`        | Une los elementos del iterable con la cadena como separador       | `','.join(['a', 'b', 'c'])` -> `'a,b,c'`                  |
| `ljust(width)`          | Justifica la cadena a la izquierda en una cadena de ancho fijo    | `'hola'.ljust(10)` -> `'hola      '`                      |
| `lower()`               | Convierte la cadena a minúsculas                                  | `'HOLA MUNDO'.lower()` -> `'hola mundo'`                   |
| `lstrip()`              | Elimina los espacios en blanco al principio de la cadena          | `'   hola'.lstrip()` -> `'hola'`                          |
| `partition(separator)`  | Divide la cadena en tres partes usando el separador               | `'hola-mundo'.partition('-')` -> `('hola', '-', 'mundo')` |
| `replace(old, new)`     | Reemplaza todas las ocurrencias de una subcadena con otra         | `'hola mundo'.replace('mundo', 'Python')` -> `'hola Python'`|
| `rfind(substring)`      | Encuentra la última ocurrencia de una subcadena en la cadena      | `'hola hola hola'.rfind('hola')` -> `10`                  |
| `rindex(substring)`     | Encuentra la última ocurrencia de una subcadena en la cadena      | `'hola hola hola'.rindex('hola')` -> `10`                 |
| `rjust(width)`          | Justifica la cadena a la derecha en una cadena de ancho fijo     | `'hola'.rjust(10)` -> `'      hola'`                      |
| `rpartition(separator)` | Divide la cadena en tres partes usando el separador, empezando por la derecha | `'hola-mundo'.rpartition('-')` -> `('hola', '-', 'mundo')` |
| `rsplit(separator)`     | Divide la cadena en una lista de sub

In [ ]:
texto = "El análisis de datos es fundamental en la ciencia de datos!"

In [17]:
#upper(): Convierte todos los caracteres del string a mayúsculas.
cadena2 = "Maracas1569"
print(cadena2.upper())  # Resultado: "MARACAS1569"

MARACAS1569

In [18]:
#lower(): Convierte todos los caracteres del string a minúsculas.
cadena2 = "Maracas1569"
print(cadena2.lower())

maracas1569

In [20]:
#capitalize(): Convierte el primer carácter del string a mayúscula y el resto a minúsculas.
cadena2 = "maracas1569"
print(cadena2.capitalize())

Maracas1569

In [21]:
#title(): Convierte la primera letra de cada palabra del string a mayúscula.
cadena2 = "hola caracola de leon"
print(cadena2.title())

Hola Caracola De Leon

In [22]:
#strip(): Elimina los espacios en blanco al principio y al final del string.
cadena2 = "lo ponemos todo junto"
print(cadena2.strip())

lo ponemos todo junto

In [24]:
#replace(): Reemplaza una subcadena por otra en el string
cadena2 = "Maracas1569"
print(cadena2.replace("Maracas", "Tacos"))

Tacos1569

In [25]:
#split(): Divide el string en una lista de subcadenas usando un delimitador.
cadena2 = "Maracas1569"
print(cadena2.split())

['Maracas1569']

In [27]:
#join(): Une los elementos de una lista en un solo string, usando el string original como separador.
lista = ["M", "a", "r", "a", "c", "a", "s", "1", "5", "6", "9"]
print("".join(lista))  # Resultado: "Maracas1569"

Maracas1569

In [ ]:
# "sumar" strings
cadena1 = "Maracas"
cadena2 = "1569"
resultado = cadena1 + cadena2
print(resultado)  # Resultado: "Maracas1569"

In [ ]:
# Contar cuántas veces aparece la palabra "datos"
cadena3 = "Los datos de las cadenas son datos"
resultado = cadena3.count("datos")
print(resultado)  # Resultado: 2

#### Otras formas de asignación de variables String

In [ ]:
#Declaraciones de string ## Comentarios

x="Coche"
y='Bicicleta'

z="""¡Hola mundo!
Yo soy un texto multilínea y me voy por todos los lados..
arriba, abajo, donde sea..
"""

print(x)
print(y)
print(z)

Coche
Bicicleta
¡Hola mundo!
Yo soy un texto multilínea y me voy por todos los lados..
arriba, abajo, donde sea..

In [ ]:
#Diferencia
z

'¡Hola mundo!\nYo soy un texto multilínea y me voy por todos los lados..\narriba, abajo, donde sea..\n'

#### f-string
Recurso que permite formatear cadenas com expresiones e variables de diversos tipos.

In [ ]:
nombre = "Juan"
edad = 30
f_string = f"Hola, me llamo {nombre} y tengo {edad} años."
print(f_string)

Hola, me llamo Juan y tengo 30 años.

In [ ]:
#print() 1:
nombre="Sandra"
edad=20
print("Hola,", nombre, "tu tienes", edad, "años.")

In [ ]:
#print 2
nombre="Carlos"
edad=30
print("Hola {} tu tienes {} años".format(nombre,edad))

In [ ]:
#print 4
nombre="Carlos"
edad=30
print("Hola ",nombre, "tu tienes ", edad)

### Identificación y conversión de tipos

En Python, puedes identificar y convertir tipos primitivos utilizando funciones integradas como **type()** para identificar el tipo de dato y funciones como int(), float(), bool(), str(), entre otras, para convertir entre tipos.

In [ ]:
# Identificar el tipo de dato
numero = 5
cadena = "Hola"
flotante = 3.14

Tipo de dato de 'numero': <class 'int'>
Tipo de dato de 'cadena': <class 'str'>
Tipo de dato de 'flotante': <class 'float'>

In [ ]:
print("Tipo de dato de 'numero':", type(numero))
print("Tipo de dato de 'cadena':", type(cadena))
print("Tipo de dato de 'flotante':", type(flotante))

In [ ]:
# Conversión entre tipos de datos
texto = "10"
numero_convertido = int(texto)
flotante_convertido = float(texto)
booleano = bool(texto)

Tipo de dato de 'numero_convertido': <class 'int'>
Tipo de dato de 'flotante_convertido': <class 'float'>
Tipo de dato de 'booleano': <class 'bool'>

In [ ]:
print("Tipo de dato de 'numero_convertido':", type(numero_convertido))
print("Tipo de dato de 'flotante_convertido':", type(flotante_convertido))
print("Tipo de dato de 'booleano':", type(booleano))

## Funciones (Built-in) y métodos

**Funciones Built-in:**
Funciones que vienen predefinidas en Python y están disponibles para su uso en cualquier momento sin necesidad de importar módulos adicionales. Estas funciones proporcionan funcionalidades básicas esenciales para trabajar con tipos de datos, realizar operaciones matemáticas, manipular secuencias, entre otras tareas. Algunos ejemplos de funciones integradas incluyen print(), len(), sum(), range(), max(), min(), abs(), entre otras.

**Principales Funciones Built-in en Python**

| Función      | Descripción                                                         |
|--------------|---------------------------------------------------------------------|
| `print()`    | Imprime un objeto en la salida estándar.                           |
| `len()`      | Devuelve la longitud de un objeto (por ejemplo, una lista o cadena).|
| `input()`    | Lee una entrada desde la entrada estándar (teclado) y la devuelve. |
| `sum()`      | Devuelve la suma de todos los elementos en un iterable.             |
| `range()`    | Genera una secuencia de números entre un inicio y un fin.           |
| `max()`      | Devuelve el valor máximo en un iterable.                            |
| `min()`      | Devuelve el valor mínimo en un iterable.                            |
| `abs()`      | Devuelve el valor absoluto de un número.                            |
| `sorted()`   | Devuelve una lista ordenada a partir de un iterable.                |
| `str()`      | Convierte un objeto en una cadena.                                  |
| `int()`      | Convierte una cadena o número en un entero.                         |
| `float()`    | Convierte una cadena o número en un número de punto flotante.       |
| `list()`     | Crea una lista a partir de un iterable.                             |
| `tuple()`    | Crea una tupla a partir de un iterable.                             |
| `dict()`     | Crea un diccionario a partir de pares clave-valor.                  |
| `set()`      | Crea un conjunto a partir de un iterable.                           |

**Métodos:**
Funciones asociadas a objetos específicos en Python. Cada tipo de dato en Python (como listas, cadenas, diccionarios, etc.) tiene sus propios métodos incorporados que se utilizan para realizar operaciones específicas en esos objetos. Los métodos se llaman utilizando la notación de punto (objeto.metodo()) y actúan sobre el objeto al que están asociados. Por ejemplo, los métodos de una lista, como append(), insert(), remove(), sort(), son específicos para trabajar con listas.

**Diferencias entre funciones y metodos:**
- Asociación con Objetos: Las funciones integradas son independientes y se pueden llamar directamente, mientras que los métodos están asociados a objetos específicos y se llaman a través de la instancia del objeto.

- Operaciones Específicas:Las funciones integradas proporcionan funcionalidades básicas y genéricas que se aplican a una amplia variedad de objetos, mientras que los métodos son específicos para un tipo de objeto y realizan operaciones relacionadas con ese tipo de objeto.

In [ ]:
#input()

x=input("Buenos dias! Dime un número de 0 a 100: ")
print(x)
print(type(x))

Buenos dias! Dime un número de 0 a 100: 90
90
<class 'str'>

## Tipos de dados Estruturados

Existen 4 tipos de tipos de datos compuestos o de colección:
- **Lista (List)**: colección de datos ordenada y mutable. Permite miembros duplicados y de diferentes tipos.
- **Tupla (Tuple)**: similar a una lista, pero es inmutable.
- **Conjunto (Set)**: colección de datos no ordenada y mutable. No permite miembros duplicados. No tiene indices.
- **Diccionario (Dict)**: colección de datos ordenada, modificable e indexada. No permite miembros duplicados

| Característica         | Lista                                    | Tupla                                           | Conjunto                                        | Diccionario                                     |
|------------------------|------------------------------------------|-------------------------------------------------|-------------------------------------------------|-------------------------------------------------|
| Mutabilidad            | Mutables: Puede ser alterada             | Inmutables: No puede ser alterada               | Mutables: Puede ser alterada                    | Mutables: Puede ser alterada                    |
| Ordenación             | Ordenada: Mantiene el orden de los elementos | Ordenada: Mantiene el orden de los elementos | No ordenada: No mantiene un orden específico    | No ordenada: No mantiene un orden específico    |
| Sintaxis de Creación   | `[elemento1, elemento2, ...]`            | `(elemento1, elemento2, ...)`                   | `{elemento1, elemento2, ...}`                   | `{clave1: valor1, clave2: valor2, ...}`         |
| Constructor            | `lista = [1, 2, 3]`                      | `tupla = (1, 2, 3)`                             | `conjunto = {1, 2, 3}`                          | `diccionario = {'a': 1, 'b': 2, 'c': 3}`        |
|                        | `lista = list([1, 2, 3])`                | `tupla = tuple((1, 2, 3))`                      | `conjunto = set([1, 2, 3])`                     | `diccionario = dict(a=1,b=2,c=3)`  |
| Acceso a elementos     | Acesso por índice: lista[indice]         | Acceso por índice: tupla[indice]                | No aplicable                                    | Acceso por clave: diccionario[chave]            |
| Mutabilidad de Elementos | Elementos pueden ser alterados          | Elementos no pueden ser alterados               | No aplicable                                    | Valor asociado a una clave puede ser alterado   |
| Soporte a Duplicados   | Permite duplicados                       | Permite duplicados                              | No permite duplicados                          | No permite claves duplicadas                    |
| Utilización Común      | Cuando es necesario alterar los elementos o mantener una colección ordenada | Cuando es necesario mantener una colección ordenada, pero inmutable | Cuando es necesario garantizar la unicidad de los elementos | Cuando es necesario asociar valores a claves únicas |
| Ejemplos               | `lista = [1, 2, 3, 3]`                  | `tupla = (1, 2, 3, 3)`                         | `conjunto = {1, 2, 3}`                          | `diccionario = {'a': 1, 'b': 2, 'c': 3}`        |
| Ejemplos de Métodos/Operaciones | `append()`, `insert()`, `remove()`, `pop()`, `index()`, `count()`, `sort()`, `reverse()` | No tiene métodos de modificación, solo métodos de acceso como `index()` y `count()` | `add()`, `remove()`, `discard()`, `clear()`, `union()`, `intersection()`, `difference()`, `issubset()`, `issuperset()` | `keys()`, `values()`, `items()`, `get()`, `pop()`, `popitem()`, `update()`, `clear()` |

### Listas

#### Métodos

| Método                                | Descripción                                                                                   |
|---------------------------------------|-----------------------------------------------------------------------------------------------|
| `lista[indice] = valor`            | Modifica el valor de un elemento en la posición especificada.                                 |
| `lista.append(valor)`              | Agrega un elemento al final de la lista.                                                     |
| `lista.extend(iterable)`           | Agrega los elementos de un iterable al final de la lista.                                     |
| `lista.insert(indice, valor)`      | Inserta un elemento en la posición especificada.                                              |
| `lista.remove(valor)`              | Elimina la primera ocurrencia del valor especificado.                                          |
| `lista.pop([indice])`              | Elimina y devuelve el último elemento de la lista, o un elemento en la posición especificada. |
| `del lista[indice]`                | Elimina un elemento en la posición especificada.                                               |
| `lista.index(valor)`               | Devuelve el índice de la primera ocurrencia del valor especificado.                            |
| `lista.count(valor)`               | Devuelve el número de veces que el valor especificado aparece en la lista.                     |
| `lista.sort()`                     | Ordena los elementos de la lista en su lugar.                                                 |
| `lista.reverse()`                  | Invierte el orden de los elementos en la lista.                                               |
| `lista.clear()`                    | Elimina todos los elementos de la lista.                                                       |
| `lista.copy()`                     | Devuelve una copia superficial de la lista.                                                   |

#### Creación

In [ ]:
#Creación
lista = [1, 2, 3, 4, 5]

In [ ]:
#Creación - list([])
lista_2 = list([1,2,3,4])

In [ ]:
#Creación - list(()) II
lista_3 = list((1,2,3))

#### Consulta/Seleccion

In [30]:
 # Accede al primer elemento
lista = [1, 2, 3, 4, 5]
print(lista[0])

1

In [34]:
# Accede al último elemento
lista = [1, 2, 3, 4, 5]
print(lista[4])

5

In [33]:
#seleccion de multiples elementos
lista = [1, 2, 3, 4, 5]
print(lista[0:3])

[1, 2, 3]

In [38]:
# Index: Obtener el índice de un elemento específico en la lista
lista = [1, 2, 3, 4, 5]
print(lista.index(3))

2

In [37]:
# Count: Contar el número de veces que un elemento aparece en la lista
lista = [1, 2, 3, 4, 5]
print(lista.count(4))

1

lista.count(4) devuelve la cantidad de veces que el número 4 aparece en la lista.

#### Inserción

In [40]:
# Insertar un elemento en una posición específica
lista = [1, 2, 3, 4, 5]
lista.insert(3, 6)  # Inserta el valor 6 en la posición 3
print(lista)  # Resultado: [1, 2, 3, 6, 4, 5]

[1, 2, 3, 6, 4, 5]

In [42]:
# Insertar un elemento al final
lista = [1, 2, 3, 4, 5]
lista.append(6)  # Agrega el valor 6 al final
print(lista)

[1, 2, 3, 4, 5, 6]

#### Atribución / Modificación

In [43]:
# Atribución: Modificar un elemento de la lista
lista = [1, 2, 3, 4, 5]
lista[3] = 95  # Cambia el valor en el índice 3 (el número 4) por 95
print(lista)

[1, 2, 3, 95, 5]

#### Remoción

In [ ]:
# Remoción: Eliminar un elemento específico de la lista -  el primer encontrado

In [ ]:
# Pop: Eliminar y devolver el último elemento de la lista

In [ ]:
# Pop: Eliminar y devolver elemento por su índice

In [ ]:
#Eliminar elemento de lista, según elemento

In [ ]:
#Eliminar todos los elementos de la lista

In [ ]:
#Eliminar lista entera

In [ ]:
#Especial: remoción multiple

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [ ]:
a = [1,2,3,4,5,6]

#### Ordinación

In [ ]:
lista = [20, 2, 23, 80, 11]

In [ ]:
# Ordenar: Ordenar los elementos de la lista

In [ ]:
# Reverso: Invertir el orden de los elementos en la lista

#### Otras operaciones

In [ ]:
#Copiar una lista - ejemplo de mutabilidad
lista_1 = ["Manzana", "Banana", "Kiwi"]
lista_2 = lista_1.copy()
lista_1[0]="Melocotón"
print(lista_1)
print(lista_2)

In [ ]:
#Unificar dos listas (operador +)
lista_1 = [1,2,3]
lista_2 = [100,200,300]

In [ ]:
#Agregar una lista a otra (.extend())

### Ejemplo de funciones aplicadas a una lista

| Función | Descripción
|:---|:---|
|len(list)|Devuelve longitud de la lista
|max(list)|Devuelve el elemento de máximo valor de la lista|
|min(list)|Devuelve el elemento de mínimo valor de la lista||
|list(seq)|Convierte cualquier elemento a una lista||

In [ ]:
#Longitud

In [ ]:
#Máximo

In [ ]:
#Mínimo

In [ ]:
#Conversion String/Lista
cadena = "Enhorabuena"

In [ ]:
# Sum()
a = [1,2,3,4,5,6]

**Ejercício**:

Supongamos que estás planificando un viaje y necesitas organizar un itinerario. Crea un programa en Python que realice las siguientes operaciones:

- Crea una lista vacía para almacenar los destinos del itinerario.
- Permite que el usuario agregue al menos tres destinos a la lista.
- Muestra el itinerario de viaje actual.
- Permite que el usuario elimine un destino del itinerario por nombre.
- Ordena los destinos del itinerario alfabéticamente.
- Muestra el itinerario de viaje final.

In [44]:
# Crear lista vacía para almacenar destinos del itinerario
itinerario = []

# Permitir que el usuario agregue al menos tres destinos
for i in range(3):
    destino = input(f"Ingresa el destino {i+1}: ")
    itinerario.append(destino)

# Mostrar el itinerario de viaje actual
print("\nItinerario actual:", itinerario)

# Permitir que el usuario elimine un destino por nombre
eliminar_destino = input("\n¿Quieres eliminar un destino? (Ingresa el nombre del destino): ")
if eliminar_destino in itinerario:
    itinerario.remove(eliminar_destino)
else:
    print(f"El destino '{eliminar_destino}' no está en el itinerario.")

# Ordenar los destinos alfabéticamente
itinerario.sort()

# Mostrar el itinerario de viaje final
print("\nItinerario final ordenado:", itinerario)

Ingresa un valor para agregar a la lista: casa
['casa']

### Tuplas

#### Métodos

| Método          | Descripción                                                                                          |
|-----------------|------------------------------------------------------------------------------------------------------|
| `count(valor)`  | Devuelve el número de veces que aparece un valor en la tupla.                                       |
| `index(valor)`  | Devuelve el índice de la primera aparición de un valor en la tupla. Si el valor no está presente,    |
|                 | lanza una excepción.                                                                                 |

#### Creación

In [ ]:
#Creación

In [ ]:
tupla = ("banana", 2, 3, 4, 5)
tupla_2 = tuple([1,2,3,4])
tupla_3 = tuple((1,2,3))

In [ ]:
a, b, c,d,e = tupla
print(a,b,c,d,e)

#### Consulta/Seleccion

In [ ]:
#Como en listas

#### Inserción

In [ ]:
# En serio?
tupla[0]=1

#### Otras operaciones

In [ ]:
#count
tupla=(1,2,3,3,4,5,6,6,6,7)
print(tupla.count(3))

In [ ]:
#Unir 2 tuplas
tupla_1 = (1,2,3)
tupla_2 = (100,200,300)
tupla_suma = tupla_1 + tupla_2
print(tupla_suma)

### Ejemplo de funciones en una tupla

| Función | Descripción
|:---|:---|
|len(tuple)|Devuelve longitud de la tupla
|max(tuple)|Devuelve el elemento de máximo valor de la tupla|
|min(tuple)|Devuelve el elemento de mínimo valor de la tupla||
|tuple(sec)|Convierte la lista en una tupla|

### Sets

#### Métodos

| Método                        | Descripción                                                                                   |
|-------------------------------|-----------------------------------------------------------------------------------------------|
| `add(elemento)`               | Agrega un elemento al conjunto.                                                              |
| `clear()`                     | Elimina todos los elementos del conjunto.                                                     |
| `copy()`                      | Devuelve una copia superficial del conjunto.                                                  |
| `difference(conjunto)`        | Devuelve un nuevo conjunto que contiene elementos que están en el primer conjunto pero no en  |
|                               | el segundo.                                                                                   |
| `difference_update(conjunto)` | Actualiza el conjunto eliminando elementos que están en el conjunto dado.                     |
| `discard(elemento)`           | Elimina un elemento del conjunto si está presente.                                            |
| `intersection(conjunto)`      | Devuelve un nuevo conjunto que contiene elementos que están en ambos conjuntos.               |
| `intersection_update(conjunto)` | Actualiza el conjunto reteniendo solo los elementos presentes tanto en el conjunto actual como |
|                                 | en el conjunto dado.                                                                          |
| `isdisjoint(conjunto)`        | Devuelve `True` si dos conjuntos no tienen elementos en común.                                |
| `issubset(conjunto)`          | Devuelve `True` si el conjunto es un subconjunto del conjunto dado.                           |
| `issuperset(conjunto)`        | Devuelve `True` si el conjunto es un superconjunto del conjunto dado.                         |
| `pop()`                       | Elimina y devuelve un elemento aleatorio del conjunto.                                        |
| `remove(elemento)`            | Elimina un elemento del conjunto.                                                             |
| `symmetric_difference(conjunto)` | Devuelve un nuevo conjunto que contiene elementos que están en un conjunto o en el otro,     |
|                                  | pero no en ambos.                                                                             |
| `symmetric_difference_update(conjunto)` | Actualiza el conjunto con los elementos que están en un conjunto o en el otro, pero no en |
|                                           | ambos.                                                                                        |
| `union(conjunto)`             | Devuelve un nuevo conjunto que contiene todos los elementos de ambos conjuntos.               |
| `update(iterable)`            | Agrega múltiples elementos al conjunto.                                                      |

#### Creación

In [ ]:
# Crear dos conjuntos
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = set((4, 5, 6, 7, 8,9,10))

SyntaxError: invalid syntax (<ipython-input-4-4b62d0e6a662>, line 1)

#### Consulta/Seleccion

Importante: Conjuntos en Python son estructuras de datos no ordenadas, no hay una manera directa de "seleccionar" un elemento por un índice como en una lista. Sin embargo, puedes verificar si un elemento está presente en el conjunto:

In [ ]:
#expresion "in"

 Una ventaja de trabajar con conjuntos en Python es que tienen métodos específicos para operaciones de *pertenencia* y *operaciones entre conjuntos*.

*Pertenencia*

In [ ]:
# Método issubset(): Devolver True si todos los elementos de un conjunto están presentes en otro conjunto

es_subconjunto = conjunto1.issubset(conjunto2)
print("conjunto1 es subconjunto de conjunto2:", es_subconjunto)

In [ ]:
# Método issuperset(): Devolver True si un conjunto contiene todos los elementos de otro conjunto
es_superconjunto = conjunto1.issuperset(conjunto2)
print("conjunto1 es superconjunto de conjunto2:", es_superconjunto)

*Operaciones entre conjuntos*

In [ ]:
# Método difference(): Devolver un nuevo conjunto que es la diferencia entre dos conjuntos
diferencia = conjunto1.difference(conjunto2)
print("Diferencia entre conjunto1 y conjunto2:", diferencia)

In [ ]:
# Método symmetric_difference(): Devolver un nuevo conjunto que es la diferencia simétrica entre dos conjuntos
dif_simetrica = conjunto1.symmetric_difference(conjunto2)
print("Diferencia simétrica entre conjunto1 y conjunto2:", dif_simetrica)

In [ ]:
# Método intersection(): Devolver un nuevo conjunto que es la intersección entre dos conjuntos
interseccion = conjunto1.intersection(conjunto2)
print("Intersección entre conjunto1 y conjunto2:", interseccion)

In [ ]:
# Método isdisjoint(): Devolver True si dos conjuntos no tienen elementos en común
es_disjunto = conjunto1.isdisjoint(conjunto2)
print("Los conjuntos son disjuntos:", es_disjunto)

In [ ]:
# Método union(): Devolver un nuevo conjunto que es la unión de dos conjuntos
union = conjunto1.union(conjunto2)
print("Unión de conjunto1 y conjunto2:", union)

In [ ]:

# Método difference_update(): Eliminar todos los elementos de un conjunto que también están en otro conjunto
conjunto1.difference_update(conjunto2)
print("Después de difference_update(conjunto2):", conjunto1)

# Método intersection_update(): Actualizar un conjunto con la intersección de sí mismo con otro conjunto
conjunto1.intersection_update(conjunto2)
print("Después de intersection_update(conjunto2):", conjunto1)

# Método symmetric_difference_update(): Actualizar un conjunto con la diferencia simétrica de sí mismo con otro conjunto
conjunto1.symmetric_difference_update(conjunto2)
print("Después de symmetric_difference_update(conjunto2):", conjunto1)

#### Inserción

In [ ]:
# Método add(): Agregar un elemento al conjunto
conjunto1.add(6)
print("Después de add(6):", conjunto1)

#### Atribución / Modificación

In [ ]:
# Método update(): Actualizar un conjunto con la unión de sí mismo con otro conjunto
conjunto1.update(conjunto2)
print("Después de update(conjunto2) en conjunto1:", conjunto1)

In [ ]:
# Eliminar el elemento que deseas cambiar y agregar el nuevo elemento al conjunto
conjunto1.remove(4)
conjunto1.add(6)

#### Remoción

In [ ]:
conjunto1 = {1, 2, 3, 4, 5}
conjunto2 = set((4, 5, 6, 7, 8,9,10))

In [ ]:
# Método discard(): Eliminar un elemento de un conjunto si está presente
conjunto2.discard(6)
print("Después de discard(6) en conjunto2:", conjunto2)

In [ ]:
# Método remove(): Eliminar un elemento específico de un conjunto
conjunto2.remove(8)
print("Después de remove(8) en conjunto2:", conjunto2)

In [ ]:
# Método pop(): Eliminar y devolver un elemento aleatorio del conjunto
elemento_eliminado = conjunto1.pop()
print("Elemento eliminado aleatoriamente de conjunto1:", elemento_eliminado)

In [ ]:
# Método clear(): Eliminar todos los elementos del conjunto
conjunto1.clear()
print("Después de clear():", conjunto1)

### Ejemplo de funciones en sets

| Función         | Descripción                                                                       | Ejemplo                                       |
|-----------------|-----------------------------------------------------------------------------------|-----------------------------------------------|
| `len()`         | Devuelve el número de elementos en el conjunto.                                   | `len({1, 2, 3, 4, 5})`                        |
| `max()`         | Devuelve el elemento máximo en el conjunto.                                       | `max({1, 2, 3, 4, 5})`                        |
| `min()`         | Devuelve el elemento mínimo en el conjunto.                                       | `min({1, 2, 3, 4, 5})`                        |
| `sum()`         | Devuelve la suma de todos los elementos en el conjunto si son números.             | `sum({1, 2, 3, 4, 5})`                        |
| `sorted()`      | Devuelve una lista ordenada con los elementos del conjunto.                        | `sorted({3, 1, 4, 1, 5, 9})`                  |

### Diccionarios

#### Métodos

| Método                    | Descripción                                                                                        |
|---------------------------|----------------------------------------------------------------------------------------------------|
| `clear()`                 | Elimina todos los elementos del diccionario.                                                       |
| `copy()`                  | Devuelve una copia superficial del diccionario.                                                    |
| `fromkeys(secuencia, valor)` | Crea un nuevo diccionario con claves de la secuencia y valores proporcionados.                    |
| `get(clave, valor_por_defecto)` | Devuelve el valor asociado con la clave dada. Si la clave no está presente, devuelve el valor por defecto. |
| `items()`                 | Devuelve una vista de pares clave-valor del diccionario.                                            |
| `keys()`                  | Devuelve una vista de las claves del diccionario.                                                   |
| `pop(clave, valor_por_defecto)` | Elimina y devuelve el valor asociado con la clave dada. Si la clave no está presente, devuelve el valor por defecto. |
| `popitem()`               | Elimina y devuelve un par clave-valor aleatorio del diccionario.                                    |
| `setdefault(clave, valor_por_defecto)` | Devuelve el valor asociado con la clave dada. Si la clave no está presente, inserta la clave con el valor por defecto. |
| `update(diccionario)`     | Actualiza el diccionario con pares clave-valor del diccionario dado.                                |
| `values()`                | Devuelve una vista de los valores del diccionario.                                                  |

#### Creación

In [ ]:
#{:} / dict()
dict_1 = {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madrid'}
dict_1

In [ ]:
#con dict()
dict_3 = dict(nombre="Juan", edad=30, ciudad="Madrid")
dict_3

In [ ]:
#con {:} numeros
dict_2 = { 1:"Paula", 2:"Maria", 3:"Pedro"}
dict_2

In [ ]:
#vacio para llenar después
dict_4 = dict()
dict_4["Nombre"]="Juan"
dict_4

In [ ]:
# fromkeys(): Crear un nuevo diccionario con claves de una secuencia y valores proporcionados
nombres = ['Juan', 'María', 'Pedro']
edad=30

In [ ]:
#Diccionarios de listas
dict_coches = {
    "modelos": ["Toyota", "Honda", "Ford"],
    "años": [2020,2021,2022],
    "colores": ["amarillo", "azul", "rojo"]
}

In [ ]:
#Diccionarios de diccionarios -  Diccionarios Anidados
dict_coches_2 = {
    'Toyota': {
        'años': [2020, 2021, 2022],
        'color': ['gris', 'blanco', 'verde']
    },
    'Ford': {
        'años': [2020, 2021, 2022],
        'color': ['azul']
    },
    'Honda': {
        'años': [2020, 2021, 2022],
        'color': ['rojo', 'morado', 'naranja', "negro"]
    }
}

In [ ]:

dict_toyota = {
    "Toyota": {
      'años': [2020, 2021, 2022],
      'colores': ['rojo', 'azul', 'verde']
      }
    }


dict_ford = {
        'Ford': {
          'años': [2020, 2021, 2022],
          'color': ['azul']
          }
        }

dict_honda = {
    'Honda': {
        'años': [2020, 2021, 2022],
        'color': ['rojo', 'morado', 'naranja', "negro"]
    }
}

#### Consulta/Seleccion

In [ ]:
dict_2 = { 1:"Paula", 2:"Maria", 3:"Pedro"}
dict_2

In [ ]:
dict_coches_2 = {
    'Toyota': {
        'años': [2020, 2021, 2022],
        'color': ['gris', 'blanco', 'verde']
    },
    'Ford': {
        'años': [2020, 2021, 2022],
        'color': ['azul']
    },
    'Honda': {
        'años': [2020, 2021, 2022],
        'color': ['rojo', 'morado', 'naranja', "negro"]
    }
}
dict_coches_2

In [ ]:
# get(): Devolver el valor asociado con la clave dada

In [ ]:
# items(): Devolver una vista de pares clave-valor del diccionario

In [ ]:
# keys(): Devolver una vista de las claves del diccionario

In [ ]:
# values(): Devolver una vista de los valores del diccionario

#### Inserción

#### Atribución / Modificación

In [ ]:
# update(): Actualizar el diccionario con pares clave-valor de otro diccionario
update_ford = {
      'Ford': {
        'año': [2020, 2021, 2022],
        'color': ['azul',"rojo","blanco"]
        }
      }

In [ ]:
#acceso directo

#### Remoción

In [ ]:
#ejemplo
dict_6={1:1, 2:1, 3:1}

In [ ]:
# clear(): Eliminar todos los elementos del diccionario

In [ ]:
# pop(): Eliminar y devolver el valor asociado con la clave dada
dict_coches_2.pop('Toyota')

In [ ]:
# popitem(): Eliminar y devolver un par clave-valor aleatorio del diccionario

In [ ]:
#Eliminar diccionario - del

### Ejemplo de funciones en Dicionarios

| Función      | Descripción                                                          | Ejemplo                   |
|--------------|----------------------------------------------------------------------|---------------------------|
| `len()`      | Devuelve la longitud de un objeto.                                  | `len([1, 2, 3])`          |
| `max()`      | Devuelve el valor máximo en un iterable o el argumento más grande.   | `max(5, 10, 20)`          |
| `min()`      | Devuelve el valor mínimo en un iterable o el argumento más pequeño.  | `min(5, 10, 20)`          |
| `sum()`      | Devuelve la suma de todos los elementos en un iterable.              | `sum([1, 2, 3])`          |
| `sorted()`   | Devuelve una lista ordenada de los elementos en un iterable.         | `sorted([3, 1, 2])`       |

Ejercicio:
- Genera un diccionario con 3 ciudades como keys y su número de habitantes. Una de las ciudades debe ser Barcelona.
- Devuelve el valor de cada etiqueta y obtiene el número total de habitantes sumando todas las ciudades.
- Al mismo diccionario, agrega una ciudad con su número de habitantes.
- Construir un diccionario anidado solo en la key Barcelona que tenga su num de habitantes y PIB.
- Borra los valores de Barcelona del diccionario

### **Extra**: "Conversión" entre tipos estructurados

In [ ]:
## Conversión de lista a tupla:
# Lista original
lista = [1, 2, 3, 4, 5]

# Convertir la lista a tupla
tupla = tuple(lista)

print("Lista original:", lista)
print("Tupla resultante:", tupla)

In [ ]:
## Conversión de tupla a lista:

# Tupla original
tupla = (1, 2, 3, 4, 5)

# Convertir la tupla a lista
lista = list(tupla)

print("Tupla original:", tupla)
print("Lista resultante:", lista)

In [ ]:
## Conversión de lista a conjunto (!):

# Lista original con elementos duplicados
lista = [1, 2, 2, 3, 3, 4, 5, 5]

# Convertir la lista a conjunto (eliminando duplicados)
conjunto = set(lista)

print("Lista original:", lista)
print("Conjunto resultante:", conjunto)

In [ ]:
## Conversión de conjunto a lista:


# Conjunto original
conjunto = {1, 2, 3, 4, 5}

# Convertir el conjunto a lista
lista = list(conjunto)

print("Conjunto original:", conjunto)
print("Lista resultante:", lista)